@using TaxiPark.Classes;
@{
    ViewData["Title"] = "Home Page";
    List<Order> orders = new (GlobalConstants.Context.Orders.ToList());

}

<div class="text-center">
    <h1 class="display-4">Заказы</h1>
    
    @foreach (var item in orders)
    {
        <div>
            <p > @item.Id</p>
            <p> @item.Status</p>
            <p> @item.NameClient</p>
        </div>
    }
</div>
